<div>
    <!-- This the base endpoint to get a list of Ids -->
  {{ $urlSearchPre := "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?"}}
  <!-- This is the base endpoint to get a the information about the article associated with the ID -->
  {{ $urlSummaryPre := "https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?"}}
  <!-- First we range to get the idlist -->
  {{$searchTerm := .Get "searchterm" }}
  {{ $data := getJSON $urlSearchPre "db=pubmed&datetype=pdat&mindate=2021/11&maxdate2021/11&retmode=json&retmax=10&term=" $searchTerm "&field=title&rettype=field" }}
  {{range $data.esearchresult.idlist }}
      {{$firstId := . }}
      {{$url2 := printf "%s%s" "db=pubmed&retmode=json&id=" $firstId}}
      <!-- printing the data that's a combination of the baseURL and the append from $url2 -->
      {{ $data2 := getJSON $urlSummaryPre $url2}}
      {{$dataResult := $data2.result }}
      {{$stringifyId := string .}}
      {{$makeInt := index $dataResult $stringifyId }}
  <article>
    <div>
      <h3><a target="_blank" rel="noopener noreferrer" href="https://pubmed.ncbi.nlm.nih.gov/{{$firstId}}"> {{ safeHTML  $makeInt.title }}</a></h3>
      <p>Last author: {{ $makeInt.lastauthor }}</p>
    </div>
  </article>
  {{ end }}
</div>
